<!--
TwitterBootstrap Skeleton
-->
<div class="container">
    
    <header class="page-header">
        <h2>BackboneTest - <small>Try to reload a Router's route by clicking to a link</small></h2>
    </header>
    
    <section id="menu">
        <ul>
            <li><a href="#/route/1">route 1</a></li>
            <li><a href="#/route/2">route 2</a></li>
            <li><a href="#/route/3">route 3</a></li>
        </ul>
    </section>
    
    <section id="app">
        This is the App Viewport.<br> 
        I will change according to the routes.
    </section>
    
    <section style="margin-top:20px;padding-top:20px;border-top:1px solid #aaa">
        <h3>How to run this example:</h3>
        <ol>
            <li><b>click</b> on "route 1", "route 2", etc and observe UI changes to understand the action triggered by these links.</li>
            <li><b>click</b> on "route 1" more than one time. Second and tird time you click the link seems to not trigger any action. UI does not change.</li>
                <li><b>uncomment</b> <code>router.navigate('/');</code> instruction into the <em>Menu</em> declaration of the JS box on the left.</li>
            <li><b>run</b> the fiddle - press "run" button on the top-left side of the toolbar</li>
            <li><b>click</b> on "route 1" more than one time. now each route's action is performed any time you click on the link!</li>
        </ol>
        
        <h3>Tutorial on MovableAPP.com</h3>
        <p>
            <a href="http://goo.gl/mJM2i">Here I wrote a tutorial to explain this example.</a>
        </p>
        
        <h3>Follow Me!</h3>
        <p>
            Don't forget to <b>follow me on Twitter</b>: <a href="https://twitter.com/movableapp" target="_blank">@MovableAPP</a>
        </p>
        <p>
<a href="https://twitter.com/movableapp" class="twitter-follow-button" data-show-count="false">Follow @movableapp</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>                
        </p>
    </section>
    
</div>
