<div class="mobilediv container">
  <div class="page-first">
    <div id="names">
      <div class="bigname boy">Faruzi</div>
      <div class="bigname girl">Syafiqah</div>
    </div>
  </div>
  <div class="page-two">
    <div class="container">
      <div class="date girl">14 DEC 2013</div>
      <div class="name girl">Syafiqah</div>

      <div class="name boy">Faruzi</div>
      <div style="clear:all"></div>
      <div class="date boy">28 DEC 2013</div>
    </div>
  </div>
  <div class="page-three">
    
  </div>
</div>